@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Roboto:ital,wght@0,400;0,500;1,400;1,900&family=Yellowtail&display=swap");

$primaryFont: "Open Sans", sans-serif;
$accentFont: Yellowtail, sans-serif;
$secondaryFont: Roboto, sans-serif;

$whiteColor: #ffffff;
$accentBlueColor: #7eb693;
$blueColor: #274c5b;
$textBlueColor: #525c60;
$priceGreyColor: #b8b8b8;
$imgBkgdGreyColor: #f9f8f8;
$lineGreyColor: #dedddd;
$blueIconColor: #335b6b;
$yellowColor: #efd372;
$lightenColor: rgba(253, 176, 45, 0.16);
$placeholderColor: #ababab;
$btnHoverColor: #eff6f1;
$lightGrayColor: #fafafa;
$lightGrayBorderColor: #e0e0e0;
$modalBkgdColor: #fffafa;
$footerBorderColor: #d4d4d4;

$xxlBreakpoint: 1400px;
$xlBreakpoint: 1200px;
$lgBreakpoint: 992px;
$mdBreakpoint: 768px;
$smBreakpoint: 576px;

$indent: 20px;
$items: 4;
